*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen  and (max-width:992px) {
  .trending__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__wrapper{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .offer__wrapper{
    display: flex;
    flex-direction: column;
    
  }
  .card__img{
    width: 100%;
  }

  .newsletter__wrapper{
    display: flex;
    flex-direction: column;
  }

  .newsletter__box{
    width: 100%;
    text-align: left;
 
  
  }
  
  .hero__wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
   
  }

  .hero__img{
      margin-left: 20px;
  }
  .benefit__wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;margin-top: 20px;

  }

  .category__wrapper{
    display: flex;
    flex-direction: column;
  }

  .customer__wrapper{
    width: 100%;
    left: -20pxx;
  }
  
}

div{
  overflow: hidden;
}